.Cards{
    display: flex;
    gap: 1rem;
}

.parentContainer{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .Cards{
        flex-direction: column;
    }
    .parentContainer{
        height: 12rem;
    }
}

@media screen and (max-width: 390px) {
    .Cards{
        width: 90%;
    }
}